:root {
  --color1: rgb(219, 144, 0.5);
  --color2: rgba(23, 180, 83, 0.0788);
  --color3: rgba(11, 194, 211, 0.623);
  --fondo:#f8faf3;
  --titulos: 33px;
  --margenes:60px
  --espacios:10px;
  --espacios-contenido:45px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "open sans";
  background: var(--fondo);
}
img{
vertical-align: top;

}


.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(165, 16, 16);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/*header*/
header {
width: 100%;
height: 600px;
background: linear-gradient(to bottom,
rgba(211,135,20,.664),
rgba(29,241,171,.6),
rgba(7,109,150,.45),
url(img/fondo.jpg);
background-attachment: fixed;
background-position: center ; 
background-size:cover; 
);
}

nav{
position:fixed;
height: 80px;
box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
}
.nav1{
background:transparent ;
height: 80px;
color:#fff;
}
.nav2{
background: var(--fondo);
height:100px;
color:#000;
}



